.icon-play {
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 24px;
  padding-left: 2px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  color: #ff6600;
  border: transparent;
  background: #fff;
}
.icon-play:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  background: #ff6600;
  border: transparent;
  color: #fff;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
  }
}
